
.card > p{
    color: whitesmoke;
    text-transform: capitalize;
    font-size:18px;
    font-weight:500;
    padding:10px;
}

.card > hr{
    border: 1px solid #A5A5A5;
    flex:1;
}

.card__cards{
    display:flex;
    background-color:black;
    width:100%;
    overflow-x: scroll;
}

.card__cards::-webkit-scrollbar{
        display:none;
}
