.sideFilters{
    flex:0.3;
    padding-top:100px;
    padding-left: 20px;
}
.sideFilters__container{
    background-color:black;
    width:150px;
    padding:20px;
    border-radius:15px;
}
.sideFilters__container>h1{
    color:#A5A5A5;
    font-size: 22px;
    padding-bottom:3px;
    border-bottom: 1px solid #A5A5A5;
}

.filters{
    margin:8px 0;
}
.filters>select{
    border: 0;
    outline: 0;
    background-color:#232323;
    color:white;
    font-size:16px;
    font-weight:600;
    padding:10px;
    border-radius:10px;
    width:100%;
}